$total-width: 996px;

/* colors
   ========================================================================== */
$blue: #336184;
$blue2: #003a65;
$yellow: #ffaf00;
$orange: #ff5e00;

/* fonts
   ========================================================================== */
$font-family-default: Calibri, Arial, sans-serif;