/*! normalize.css v1.1.1 | MIT License | git.io/normalize */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary
	{
	display: block
}

audio,canvas,video {
	display: inline-block;
	*display: inline;
	*zoom: 1
}

audio:not ([controls] ){
	display: none;
	height: 0
}

[hidden] {
	display: none
}

html {
	background: #fff;
	color: #000;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}

html,button,input,select,textarea {
	font-family: inherit
}

body {
	margin: 0
}

a {
	text-decoration: none
}

a:focus {
	outline: thin dotted
}

a:active,a:hover {
	outline: 0
}

h1 {
	font-size: 2em;
	margin: 0.67em 0
}

h2 {
	font-size: 1.5em;
	margin: 0.83em 0
}

h3 {
	font-size: 1.17em;
	margin: 1em 0
}

h4 {
	font-size: 1em;
	margin: 1.33em 0
}

h5 {
	font-size: 0.83em;
	margin: 1.67em 0
}

h6 {
	font-size: 0.67em;
	margin: 2.33em 0
}

abbr[title] {
	border-bottom: 1px dotted
}

b,strong {
	font-weight: bold
}

blockquote {
	margin: 1em 40px
}

dfn {
	font-style: italic
}

hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0
}

mark {
	background: #ff0;
	color: #000
}

p,pre {
	margin: 0
}

code,kbd,pre,samp {
	font-family: monospace, serif;
	_font-family: 'courier new', monospace;
	font-size: 1em
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word
}

q {
	quotes: none
}

q:before,q:after {
	content: '';
	content: none
}

small {
	font-size: 80%
}

sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -0.5em
}

sub {
	bottom: -0.25em
}

dl,menu,ol,ul {
	margin: 1em 0
}

dd {
	margin: 0 0 0 40px
}

menu,ol,ul {
	padding: 0 0 0 0
}

nav ul,nav ol {
	list-style: none;
	list-style-image: none
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic
}

svg:not (:root ){
	overflow: hidden
}

figure {
	margin: 0
}

form {
	margin: 0
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em
}

legend {
	border: 0;
	padding: 0;
	white-space: normal;
	*margin-left: -7px
}

button,input,select,textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle;
	outline: none
}

button,input {
	line-height: normal
}

button,select {
	text-transform: none
}

button,html input[type="button"],input[type="reset"],input[type="submit"]
	{
	-webkit-appearance: button;
	cursor: pointer;
	*overflow: visible
}

button[disabled],html input[disabled] {
	cursor: default
}

input[type="checkbox"],input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
	*height: 13px;
	*width: 13px
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration
	{
	-webkit-appearance: none
}

button::-moz-focus-inner,input::-moz-focus-inner {
	border: 0;
	padding: 0
}

textarea {
	overflow: auto;
	vertical-align: top
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

.author {
	float: right;
	font-size: 11px;
	width: 100%
}

.author .info {
	float: right;
	margin-top: 28px;
	text-align: right
}

.author .info span {
	display: block
}

.author .info .name {
	text-transform: uppercase
}

.author .img {
	float: right;
	margin-left: 10px;
	position: relative;
	width: 64px;
	height: 64px
}

.author .img img {
	position: absolute;
	width: 100%;
	height: auto;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0
}

.title {
	float: left;
	margin: 0 0 20px 0;
	width: 996px
}

.title .block.white {
	float: left;
	width: 25%
}

.title .block.white h3 {
	color: #003a65;
	line-height: 40px;
	margin: 0
}

.title .block.white .icon-speaker {
	float: left;
	margin: 0 10px 0 0
}

.title .block.blue {
	background-color: #9ab0c1;
	color: #FFF;
	float: left;
	font-size: 10px;
	padding: 14px 0;
	text-align: center;
	text-transform: uppercase;
	width: 75%
}

.breadcrumb {
	cursor: default;
	float: left;
	width: 100%;
	margin: 0 0 15px 0
}

.breadcrumb ul {
	list-style: none;
	margin: 0;
	padding: 0
}

.breadcrumb ul li {
	color: #003a65;
	display: inline-block;
	font-size: 11px;
	font-weight: normal;
	margin: 0 20px 0 0;
	position: relative
}

.breadcrumb ul li::after {
	content: '>';
	position: absolute;
	right: -15px
}

.breadcrumb ul li:last-child::after {
	content: ''
}

.pagination {
	clear: both;
	float: right;
	letter-spacing: 1px;
	margin-right: 25px;
	text-align: right
}

.pagination span {
	font-size: 12px;
	display: block;
	padding: 0 0 5px 0
}

.pagination a {
	color: #ff5e00 !important;
	padding-right: 16px;
	position: relative;
	font-size: 12px
}

.pagination a::before {
	content: '';
	position: absolute;
	right: 0px;
	top: 50%;
	margin: -5px 0 0 0
}

h1 {
	font-size: 36px;
	font-weight: medium;
	margin: 0 0 15px 0
}

h2 {
	font-size: 22px;
	font-weight: lighter;
	letter-spacing: 1px;
	margin: 0 0 15px 0
}

h3 {
	font-size: 20px;
	font-weight: lighter;
	margin: 0 0 15px 0
}

h4 {
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;
	margin: 0 0 15px 0
}

h5 {
	font-size: 16px;
	font-weight: normal;
	letter-spacing: 1px;
	line-height: 18px;
	margin: 0 0 15px 0
}

h6 {
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 1px;
	line-height: 16px;
	margin: 0 0 15px 0;
	text-transform: uppercase
}

p {
	font-size: 12px;
	font-weight: lighter;
	line-height: 16px;
	margin-bottom: 10px
}

a {
	font-size: 12px
}

ul {
	color: #003a65
}

.yellow {
	background-color: #ffaf00
}

.yellow:hover {
	background-color: #ffbf33
}

.orange {
	background-color: #ff5e00
}

.orange:hover {
	background-color: #ff7e33
}

.blue {
	background-color: #003a65
}

.blue:hover {
	background-color: #005798
}

.icon,.icon-arrow-big-orange,.home #main .planejar span::after,.icon-arrow-big,.steps .step.arrow::after,.icon-arrow-small,.pagination a::before,.icon-check,.icon-click,.icon-facebook,.icon-instagram,.icon-key,.icon-marker,#footer .menu ul li a::before,.icon-speaker,.icon-star-on,.icon-star,.icon-twitter
	{
	background-image: url('../img/icon.png');
	background-repeat: no-repeat
}

.icon-arrow-big-orange,.home #main .planejar span::after {
	background-position: -29px -44px;
	height: 49px;
	width: 24px
}

.icon-arrow-big,.steps .step.arrow::after {
	background-position: 0 -248px;
	height: 55px;
	width: 26px
}

.icon-arrow-small,.pagination a::before {
	background-position: 0 -22px;
	height: 10px;
	width: 6px
}

.icon-check {
	background-position: 0 -93px;
	height: 36px;
	width: 42px
}

.icon-click {
	background-position: 0 -206px;
	height: 42px;
	width: 34px
}

.icon-facebook {
	background-position: -23px 0;
	height: 22px;
	width: 23px
}

.icon-instagram {
	background-position: -21px -22px;
	height: 22px;
	width: 23px
}

.icon-key {
	background-position: 0 -129px;
	height: 37px;
	width: 53px
}

.icon-marker,#footer .menu ul li a::before {
	background-position: -15px -44px;
	height: 20px;
	width: 14px
}

.icon-speaker {
	background-position: 0 -166px;
	height: 40px;
	width: 41px
}

.icon-star-on {
	background-position: 0 -44px;
	height: 16px;
	width: 15px
}

.icon-star {
	background-position: -6px -22px;
	height: 16px;
	width: 15px
}

.icon-twitter {
	background-position: 0 0;
	height: 22px;
	width: 23px
}

.icon,.icon-arrow-big-orange,.home #main .planejar span::after,.icon-arrow-big,.steps .step.arrow::after,.icon-arrow-small,.pagination a::before,.icon-check,.icon-click,.icon-facebook,.icon-instagram,.icon-key,.icon-marker,#footer .menu ul li a::before,.icon-speaker,.icon-star-on,.icon-star,.icon-twitter
	{
	display: block
}

label {
	display: block;
	font-size: 11px;
	padding: 0 0 10px 0;
	text-transform: uppercase
}

select {
	background: #f3f5f7;
	color: #336184;
	font-size: 12px;
	padding: 15px 10px;
	border: none
}

input[type=submit],button,.button {
	background-color: #ff5e00;
	border: none;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	padding: 15px 10px;
	text-transform: uppercase
}

input[type=submit]:hover,button:hover,.button:hover {
	background-color: #ff7e33
}

#checklist {
	float: left;
	margin: 10px 10px 0 10px;
	width: 996px
}

.steps {
	background: #336184;
	float: left;
	padding: 15px 0px;
	text-align: center
}

.steps .step {
	position: relative;
	width: 332px;
	float: left
}

.steps .step.arrow::after {
	content: '';
	position: absolute;
	right: -10px;
	top: 50%;
	margin: -37px 0 0 0 !important
}

.steps .step div {
	margin: 0 auto;
	width: 260px
}

.steps .step .icon,.steps .step .icon-arrow-big-orange,.steps .step .home #main .planejar span::after,.home #main .planejar .steps .step span::after,.steps .step .icon-arrow-big,.steps .step .step.arrow::after,.steps .step .icon-arrow-small,.steps .step .pagination a::before,.pagination .steps .step a::before,.steps .step .icon-check,.steps .step .icon-click,.steps .step .icon-facebook,.steps .step .icon-instagram,.steps .step .icon-key,.steps .step .icon-marker,.steps .step #footer .menu ul li a::before,#footer .menu ul li .steps .step a::before,.steps .step .icon-speaker,.steps .step .icon-star-on,.steps .step .icon-star,.steps .step .icon-twitter
	{
	margin: 0 auto 10px auto
}

.steps .step .number {
	display: block;
	font-size: 18px;
	font-weight: bold;
	line-height: 18px;
	margin: 0 auto 10px auto
}

.steps .step .number,.steps .step h6 {
	color: #ffaf00
}

.steps .step p {
	color: #FFF;
	margin: 0
}

.steps .step h6 {
	font-size: 12px;
	margin-bottom: 5px
}

.steps h2 {
	color: #FFF;
	float: left;
	display: block;
	font-size: 14px;
	margin: 20px 0 0 0;
	text-transform: uppercase;
	width: 100%
}

.form-checklist {
	color: #336184;
	float: left;
	margin: 10px 0 0 0;
	width: 996px
}

.form-checklist .select {
	float: left;
	padding: 0 10px 0 10px;
	width: 25%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	align-content: center !important;
	height: 71px;
	margin: 10px 0 0;
}

.form-checklist .select label {
	text-align: center
}

.form-checklist .select select {
	width: 100%
}

/*
.form-checklist .select:nth-child(1) {
	width: 16%
}

.form-checklist .select:nth-child(4) {
	padding: 0
}
*/
.form-checklist .input {
	clear: both;
	float: left;
	margin: 15px 0 0 0;
	width: 100%
}

.form-checklist .input input[type=submit] {
	display: block;
	font-size: 20px;
	margin: 0 auto;
	padding: 15px 70px
}

.stars-rating {
	cursor: default;
	list-style: none;
	margin: 0;
	padding: 0
}

.stars-rating li {
	display: inline-block;
	width: 15px;
	height: 16px;
	text-indent: -9999px
}

.destaque {
	background: #fff7e6;
	border: none !important;
	clear: both;
	margin: 15px 0 !important;
	padding: 15px 10px !important;
	width: 600px
}

.destaque h4 {
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase
}

.destaque .info {
	float: none !important;
	width: auto !important;
	margin: 15px 0 0 0 !important
}

.destaque .info h2 {
	color: #ff5e00 !important;
	font-size: 20px;
	text-transform: uppercase
}

.destaque .info .detalhes {
	float: left;
	width: 50%
}

.destaque .info .mais {
	clear: none !important;
	margin: 12px 0 0 0;
	width: 50% !important
}

.destaque .info .texto {
	float: left
}

.carousel {
	width: 100%;
	height: 250px
}

.carousel .owl-item {
	margin: 0;
	position: relative;
	height: 250px
}

.carousel .owl-item img {
	position: absolute;
	top: 44px
}

.carousel .owl-item.center img {
	width: 298px !important;
	top: 0px;
	left: -52.5px;
	z-index: 999
}

body {
	border-top: 15px solid #ffaf00;
	border-bottom: 15px solid #ffaf00;
	font-family: Calibri, Arial, sans-serif
}

.wrapper {
	width: 1016px;
	margin: 0 auto;
	overflow: hidden
}

#main {
	float: left;
	margin: 15px 10px 0 10px;
	width: 996px
}

#main section h6,#main section p,#main section span {
	color: #003a65
}

#header {
	float: left;
	margin: 50px 10px 0 10px;
	width: 996px
}

#header .left {
	float: left
}

#header .left .logo {
	background: url("../img/logo.png");
	display: block;
	float: left;
	margin: 0 45px 0 0;
	text-indent: -9999px;
	width: 178px;
	height: 58px
}

#header .left .slogan {
	float: left;
	height: 58px;
	text-align: center
}

#header .left .slogan h2 {
	font-size: 12px;
	font-weight: normal;
	letter-spacing: 1px;
	line-height: 58px;
	margin: 0;
	text-transform: uppercase;
	color: #336184
}

#header .right {
	float: right
}

#header .right .cadastro {
	float: right
}

#header .right .cadastro .btn {
	color: #FFFFFF;
	display: inline-block;
	float: left;
	font-size: 12px;
	padding: 10px 20px;
	text-align: center;
	text-transform: uppercase
}

#header .right .cadastro .btn.yellow {
	margin-right: 25px
}

#header .right .cadastro .btn.yellow span {
	color: #336184;
	display: block;
	font-size: 10px
}

#header .right .cadastro .btn.blue span {
	color: #ffaf00;
	display: block;
	font-size: 10px
}

#header .right .social {
	clear: both;
	float: right
}

#header .right .social ul {
	margin: 10px 0;
	overflow: hidden
}

#header .right .social li {
	display: block;
	float: left;
	margin-left: 2px
}

#header .right .social li a {
	text-indent: -9999px
}

#header .right .social li a:hover {
	filter: progid : DXImageTransform.Microsoft.Alpha ( Opacity = 80 );
	opacity: 0.8
}

#header .menu {
	background-color: #809cb1;
	float: left;
	width: 100%
}

#header .menu ul {
	float: left;
	list-style: none;
	margin: 0;
	padding: 5px 0px;
	width: 100%
}

#header .menu li {
	display: block;
	float: left;
	width: 18%
}

#header .menu li.larger {
	width: 46%
}

#header .menu li a {
	color: #FFFFFF;
	background-color: #809cb1;
	border-right: 1px solid #FFFFFF;
	display: block;
	font-size: 12px;
	letter-spacing: 1px;
	padding: 10px 0px;
	text-align: center
}

#header .menu li:last-child a {
	border-right: 2px solid #809cb1
}

#footer {
	clear: both;
	float: left;
	margin: 50px 10px 0 10px;
	width: 996px
}

#footer .social {
	float: right
}

#footer .social ul {
	margin: 15px 0;
	overflow: hidden
}

#footer .social li {
	display: block;
	float: left;
	margin-left: 5px
}

#footer .social li a {
	text-indent: -9999px
}

#footer .menu {
	background-color: #ccd8e0;
	clear: both
}

#footer .menu ul {
	margin: 0;
	overflow: hidden;
	padding: 35px 0
}

#footer .menu ul li {
	width: 20%;
	display: block;
	float: left;
	text-align: center
}

#footer .menu ul li a {
	color: #003a65;
	font-size: 12px;
	position: relative;
	padding-left: 24px;
	text-transform: uppercase;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

#footer .menu ul li a::before {
	content: '';
	position: absolute;
	left: 0px;
	top: -2px
}

.sidebar {
	float: left;
	margin-top: 75px;
	padding-left: 20px;
	position: relative;
	width: 300px
}

.sidebar::before {
	background-image: url("../img/border-sidebar.png");
	content: '';
	width: 21px;
	height: 23px;
	position: absolute;
	top: -23px;
	left: -2px
}

.sidebar h5 {
	color: #ffaf00;
	margin-bottom: 25px
}

.sidebar a {
	color: #003a65;
	font-size: 1em
}

.sidebar a:hover {
	color: #2a6d9f
}

.sidebar .list {
	margin-bottom: 45px
}

.sidebar .list ul {
	margin: 0
}

.sidebar .list li {
	margin-bottom: 15px
}

.sidebar .list li a {
	font-size: 12px;
	text-decoration: underline
}

.sidebar .list.list-images a {
	display: inline-block
}

.sidebar .list.list-images .img {
	position: relative;
	margin-bottom: 8px;
	width: 108px;
	height: 64px
}

.sidebar .list.list-images .img img {
	position: absolute;
	width: 100%;
	height: auto;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0
}

.sidebar .articles li {
	border-bottom: 1px solid #b4b4b4;
	padding: 20px 0px;
	overflow: hidden
}

.sidebar .articles li p {
	font-size: 12px
}

.sidebar .articles li:first-child {
	padding-top: 0
}

.sidebar .articles li:last-child {
	border: none
}

.sidebar .articles li h6 {
	margin: 0 0 12px 0
}

.sidebar .articles li .more {
	background: #003a65;
	color: #FFF;
	float: left;
	font-size: 11px;
	margin-top: 10px;
	padding: 10px 15px
}

.sidebar .articles li .more:hover {
	background-color: #005798
}

.content {
	float: left;
	margin-top: 15px;
	width: 640px
}

.content .container {
	border-right: 1px solid #ffaf00;
	padding-right: 20px;
	overflow: hidden;
	width: 620px
}

.content h1,.content h2,.content h3,.content h4,.content h5,.content h6,.content p,.content a,.content span
	{
	color: #003a65
}

.espaco_evento {
	float: left;
	border-bottom: 1px solid #b4b4b4;
	margin-bottom: 20px;
	padding-bottom: 20px
}

.espaco_evento .img {
	float: left;
	position: relative;
	margin-bottom: 10px;
	width: 334px;
	height: 190px
}

.espaco_evento .img img {
	position: absolute;
	width: 100%;
	height: auto;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0
}

.espaco_evento .info {
	float: left;
	font-size: 11px;
	margin: 0 0 0 15px;
	width: 271px
}

.espaco_evento .info h5 {
	color: #003a65
}

.espaco_evento .info .avaliacao span {
	display: block;
	float: left;
	line-height: 16px;
	margin-right: 5px
}

.espaco_evento .info .detalhes {
	list-style: none
}

.espaco_evento .info .detalhes li {
	padding-bottom: 5px
}

.espaco_evento .mais {
	clear: both;
	float: left;
	width: 100%
}

.espaco_evento .mais .preco {
	float: right;
	margin-top: 5px;
	margin-right: 10px;
	text-align: right
}

.espaco_evento .mais .preco p {
	font-size: 11px;
	margin: 0
}

.espaco_evento .mais .preco .valor {
	color: #ffaf00 !important;
	display: block;
	font-size: 22px;
	margin-top: 5px
}

.espaco_evento .mais .opcoes {
	float: right;
	margin-top: -30px;
	text-transform: uppercase
}

.espaco_evento .mais .opcoes a {
	clear: both;
	display: block;
	float: right
}

.espaco_evento .mais .opcoes .add {
	font-size: 10px;
	line-height: 12px;
	margin-bottom: 10px;
	padding-right: 25px;
	position: relative;
	text-align: right
}

.espaco_evento .mais .opcoes .add::after {
	background-color: #003a65;
	content: '';
	display: block;
	position: absolute;
	right: 0px;
	top: 50%;
	margin: -10px 0 0 0;
	width: 20px;
	height: 20px
}

.espaco_evento .mais .opcoes .btn {
	color: #FFF;
	font-size: 10px;
	letter-spacing: 1px;
	padding: 15px 35px
}

.home #main .planejar {
	clear: both;
	float: right;
	margin-top: 40px
}

.home #main .planejar span {
	color: #ff5e00;
	display: block;
	float: left;
	font-size: 20px;
	line-height: 49px;
	margin: 2px 20px 0 0;
	padding-right: 44px;
	position: relative
}

.home #main .planejar span::after {
	content: '';
	position: absolute;
	right: 0px;
	top: 0
}

.home #main .planejar .button {
	display: block;
	float: left;
	font-size: 20px;
	padding: 15px 70px
}

.home #main .textos {
	border-top: 1px solid #b4b4b4;
	clear: both;
	float: left;
	margin: 40px 0 25px 0;
	padding-top: 25px;
	width: 100%
}

.home #main .textos h5 {
	color: #ffaf00;
	text-transform: uppercase
}

.home #main .textos h6 {
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0px;
	text-transform: none
}

.home #main .textos .left {
	float: left;
	margin: 0 25px 0 0;
	width: 615px
}

.home #main .textos .left .pontos_referencia {
	clear: both;
	padding-top: 20px
}

.home #main .textos .right {
	border-left: 1px solid #b4b4b4;
	float: left;
	padding-left: 20px;
	width: 300px
}

.home #main .depoimentos {
	border-top: 1px solid #b4b4b4;
	clear: both;
	overflow: hidden;
	padding-top: 25px
}

.home #main .depoimentos h5 {
	color: #ffaf00;
	text-transform: uppercase
}

.home #main .depoimentos h6 {
	font-weight: bold;
	text-transform: none
}

.home #main .depoimentos .depoimento {
	float: left;
	width: 282px;
	padding-right: 75px
}

.home #main .depoimentos .depoimento:last-child {
	padding: 0
}

.input_padrao {
	background: none repeat scroll 0 0 #f3f5f7;
    border: medium none;
    color: #336184;
    font-size: 12px;
    padding: 15px 10px;
}

.input1 {
	width: 25px;
}

.input2 {
	width: 69px;
}

.input3 {
	width: 80px;
}

.input4 {
	width: 100px;
}

.input6 {
	width: 240px;
}

.input12 {
	width: 754px;
}

.linha {
	display: block;
	clear: both;
}



.full {
	width: 100%;
	clear: both;
}

.tabela {
	float: left !important;
	margin: 0 0 30px 30px;
}

.tabela.impar {
	margin-left: 0 !important;
}

.tabela1 table{
	width: 482px;
}

.tabela2 table{
	width: 482px;
}

.tabela2 tbody td {
	height: 112px;
	line-height: 14px;
	padding-bottom: 20px;
	text-align: left;
}

.tabela1 tbody td {
	vertical-align: middle;
}

.tabela4 tbody tr.linha_dois td {
	height: 45px;
	vertical-align: middle;
}

.tabela4 tbody tr.linha_um td {
	height: 86px;
	vertical-align: middle;
}

.tabela1 tbody td {
	height: 129px;
}

div.vertical
{
	margin-left: -85px;	
	position: absolute;
	width: 215px;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg); /* Safari/Chrome */
	-moz-transform: rotate(-90deg); /* Firefox */
	-o-transform: rotate(-90deg); /* Opera */
	-ms-transform: rotate(-90deg); /* IE 9 */
}


table thead th, table tbody td,  table tfoot td{
	border: 1px solid gray;
	background-color: #F2F2F2;
	vertical-align: top;
	text-align: center;
	padding: 0;
}

.linha_branca {
	border: none !important;
	background-color: #FFF !important;
	height: 5px;
}

.faixa {
	clear: both;
	background-color: #BFBFBF;
	padding: 10px 0 10px 10px;
	margin: 10px 0 10px 0;
	display: block;
	height: 20px;
}

.form-checklist .esquerda {
	float: left;
	margin: 0 0 10px 0;
}

.form-checklist .direita {
	float: right;
	margin: 0 0 10px 0;
}

.div_input {
	float: left;
	margin-left: 10px;
}

.form-checklist .formulario_grande input {
	width: 207px;
}
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 17px; height: 17px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 3px; left: 4px;
  font-size: 14px;
  color: #09ad7e;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
}

div.coluna {
	margin-left: -14px;
    width: 258px;
	float: left;
}

div.coluna:first-child {
	margin-left: 0 !important;
	clear: left;
}



.inline_checkbox {
	display: inline-block;
	margin-left: 20px;
}

.inline_checkbox:first-child {
	margin-left: 0;
}

.checkbox_group {
	display: inline-block;
	margin-left: 64px;
}

.checkbox_group label:before {
	top: -2px !important;
}

.fx_alimentos_bebidas .checkbox_group label:before {
	top: -3px !important;
}

.fx_alimentos_bebidas label {
	color: white;
	font-weight: bold;
}
#obsTabelas {
	margin-left: 20px;
}

.linha.observacoes .esquerda {
	margin-top: 10px;
}

.tabelas_hospedagem_linha_1 table{
	width: 312px;
}

.tabelas_hospedagem_linha_2 table {
	width: 483px;
}

.observacoes {
	margin: 10px 0 10px 0;
}

.textarea_obs_geral {
	width: 976px;
}

.btn_cotacao_expressa {
	background-color: #00A94E;
	color: white;
	font-weight: bold;
}

.esquerda.termos {
	width: 350px;
}

.esquerda.termos label{
	font-size: 14px;
}

.texto_esquerda a, .texto_direita a{
	font-size: 14px;
	font-weight: bold;
	color: #0070C0;
	text-decoration: underline; 
}

.texto_esquerda, .texto_direita {
	width: 350px;
}

.texto_direita {
	text-align: right;
}
/*# sourceMappingURL=main.css.map */