.content {	
	float: left;
	margin-top: 15px;
	width: 640px;
	
	.container {
		border-right: 1px solid $yellow;
		padding-right: 20px;
		overflow: hidden;
		width: 620px;
	}

	h1, h2, h3, h4, h5, h6, p, a, span {
		color: $blue2;
	}	
}

.espaco_evento {
	float: left;
	border-bottom: 1px solid #b4b4b4;
	margin-bottom: 20px;
	padding-bottom: 20px;

	.img {
		float: left;
		position: relative;
		margin-bottom: 10px;		
		width: 334px;
		height: 190px;

		img {
			position: absolute;
			width: 100%;
			height: auto;
			margin: auto;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}		
	}
	.info {
		float: left;
		font-size: 11px;
		margin: 0 0 0 15px;
		width: 271px;		
	
		h5 {
			color: $blue2;
		}
		.avaliacao {
			span {
				display: block;
				float: left;
				line-height: 16px;
				margin-right: 5px;
			}
		}
		.detalhes {
			list-style: none;

			li {
				padding-bottom: 5px;
			}
		}
	}
	.mais {
		clear: both;
		float: left;
		width: 100%;

		.preco {
			float: right;
			margin-top: 5px;
			margin-right: 10px;
			text-align: right;

			p {
				font-size: 11px;
				margin: 0;
			}
			.valor {
				color: $yellow !important;
				display: block;
				font-size: 22px;
				margin-top: 5px;
			}
		}
		.opcoes {
			float: right;
			margin-top: -30px;
			text-transform: uppercase;
			
			a {
				clear: both;
				display: block;
				float: right;
			}

			.add {
				font-size: 10px;
				line-height: 12px;
				margin-bottom: 10px;
				padding-right: 25px;
				position: relative;
				text-align: right;

				&::after {
					background-color: $blue2;
					content:'';
					display: block;
					position: absolute;
					right: 0px;
					top: 50%;
					margin: -10px 0 0 0;
					width: 20px;
					height: 20px;
				}
			}
			.btn {
				color: #FFF;
				font-size: 10px;
				letter-spacing: 1px;
				padding: 15px 35px;
			}
		}			
	}	
}