#footer {
	clear: both;
	float: left;
	margin: 50px 10px 0 10px;
	width: $total-width;

	.social {
		float: right;

		ul {
			margin: 15px 0;
			overflow: hidden;
		}

		li {
			display: block;
			float: left;
			margin-left: 5px;
			
			a {
				text-indent: -9999px;
			}
		}
	}

	.menu {
		background-color: #ccd8e0;
		clear: both;

		ul {
			margin: 0;
			overflow: hidden;
			padding: 35px 0;

			li{
				width: 20%;
				display: block;
				float: left;
				text-align: center;

				a {
					color: $blue2;
					font-size: 12px;
					position: relative;
					padding-left: 24px;
					text-transform: uppercase;
					@include box-sizing(border-box);

					&::before {
						content: '';
						position: absolute;
						left: 0px;
						top: -2px;
						@extend .icon-marker;
					}
				}
			}
		}		
	}
}