#header {
	float: left;
	margin: 50px 10px 0 10px;
	width: $total-width;
	
	.left {
		float: left;

		.logo {
			background: url('../img/logo.png');
			display: block;
			float: left;
			margin: 0 45px 0 0;
			text-indent: -9999px;
			width: 178px;
			height: 58px;
		}	
		.slogan {
			float: left;
			height: 58px;
			text-align: center;
				
			h2 {
				font-size: 12px;
				font-weight: normal;
				letter-spacing: 1px;
				line-height: 58px;
				margin: 0;
				text-transform: uppercase;
				color: $blue;
			}
		}			
	} 

	.right {
		float: right;

		.cadastro {
			float: right;

			.btn {
				color: #FFFFFF;			
				display: inline-block;
				float: left;
				font-size: 12px;				
				padding: 10px 20px;
				text-align: center;
				text-transform: uppercase;			

				&.yellow {
					margin-right: 25px;

					span {
						color: $blue;
						display: block;
						font-size: 10px;
					}
				}
				&.blue {
					span {
						color: $yellow;
						display: block;
						font-size: 10px;
					}
				}
			}	
		}


		.social {
			clear: both;
			float: right;

			ul {
				margin: 10px 0;
				overflow: hidden;
			}

			li {
				display: block;
				float: left;
				margin-left: 2px;

				a {
					text-indent: -9999px;

					&:hover {
						@include opacity(0.8);
					}
				}
			}
		}		
	}

	.menu {
		background-color: #809cb1;
		float: left;
		width: 100%;

		ul {
			float: left;
			list-style: none;
			margin: 0;
			padding: 5px 0px;
			width: 100%;
		}

		li{
			display: block;
			float: left;
			width: 18%;
			
			&.larger {
				width: 46%;
			}

			a{
				color: #FFFFFF;
				background-color: #809cb1;
				border-right: 1px solid #FFFFFF;
				display: block;
				font-size: 12px;
				letter-spacing: 1px;
				padding: 10px 0px;
				text-align: center;	
			}

			&:last-child {
				a {
					border-right: 2px solid #809cb1;
				}
			}

		}
	}

}