.destaque {
	background: #fff7e6;
	border: none !important;
	clear: both;
	margin: 15px 0 !important;
	padding: 15px 10px !important;	
	width: 600px;
	
	h4 {
		font-size: 14px;
		font-weight: normal;
		text-transform: uppercase;
	}

	.info {
		float: none !important;
		width: auto !important;
		margin: 15px 0 0 0 !important;

		h2 {
			color: $orange !important;
			font-size: 20px;
			text-transform: uppercase;
		}

		.detalhes{
			float: left;
			width: 50%;
		}

		.mais{
			clear: none !important;
			margin: 12px 0 0 0;
			width: 50% !important;
		}

		.texto {
			float: left;
		}
	}	
}

.carousel {
	width: 100%;
	height: 250px;

	.owl-item {
		margin: 0;
		position: relative;
		height: 250px;

		img {
			position: absolute;
			top: 44px;
		}
		&.center {
			img {
				width: 298px !important;
				top: 0px;
				left: -52.5px;	
				z-index: 999;
			}
		}		
	}
}