#checklist {
	float: left;
	margin: 10px 10px 0 10px;
	width: $total-width;
}

.steps {
	background: $blue;
	float: left;
	padding: 15px 0px;
	text-align: center;

	.step {
		position: relative;		
		width: 332px;
		float: left;

		&.arrow {
			&::after {
				content: '';
				position: absolute;
				right: -10px;
				top: 50%;
				margin: -37px 0 0 0 !important;
				@extend .icon-arrow-big;
			}
		}
		div {
			margin: 0 auto;
			width: 260px;			
		}
		.icon {
			margin: 0 auto 10px auto;
		}
		.number {
			display: block;
			font-size: 18px;
			font-weight: bold;
			line-height: 18px;
			margin: 0 auto 10px auto;
		}
		.number, h6 {
			color: $yellow;
		}
		p {
			color: #FFF;
			margin: 0;
		}
		h6 {
			font-size: 12px;
			margin-bottom: 5px;
		}
	}
	h2 {
		color: #FFF;
		float: left;
		display: block;
		font-size: 14px;
		margin: 20px 0 0 0;
		text-transform: uppercase;
		width: 100%;
	}
}

.form-checklist {
	color: $blue;
	float: left;	
	margin: 10px 0 0 0;
	width: $total-width;

	.select {
		float: left;
		padding: 0 50px 0 0;
		width: 28%;
		@include box-sizing(border-box);

		label {
			text-align: center;
		}
		select {
			width: 100%;
		}
		&:nth-child(1) {
			width: 16%;
		}
		&:nth-child(4) {
			padding: 0;
		}
	}
	
	.input {
		clear: both;
		float: left;
		margin: 15px 0 0 0;
		width: 100%;

		input[type=submit] {
			display: block;
			font-size: 20px;
			margin: 0 auto;
			padding: 15px 70px;
		}
	}
	
}